<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">  
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.2.0/lodash.js"></script>
  <script src="js/slider.js"></script>
  <script src="js/colorBox.js"></script> 
</head>

<body tooltip="</br></br></br>Наведите курсор на элементы управления для получения подсказки">
  <div class="pageWrapper">
	<div class="header">
		<div></br>Помощь разработчику в подборе CSS параметров фонового цвета</div>
		<h1>COLOR<span>box</span></h1>
	</div>
	<div class="sideBar">
		<div class="description">Данный инструмент позволяет подобрать CSS параметры фонового цвета, включая
		                         параметр прозрачности для разных типов фона. Особенности управления элементами 
								 интерфейса описаны в окне подсказки ниже, которое активируется при наведении
								 курсора на соответствующую панель</div>
		<div class="tooltip"></br></br></br>Наведите курсор на элементы управления для получения подсказки</div>	
		<button class="tooltipButton">Скрыть подсказку</button>
		<div class="tooltip empty hidden"></div>
		<button class="tooltipButton hidden">Показать подсказку</button>
		<div class="tooltip remark hidden">Кстати, дизайн этой страницы сделан при помощи этого же инструмента ...</div>
	</div>
	<div class="workingSpace">
	  <div class="colorBox">	
	    <div class="slidersPanel" tooltip="Основная панель управления параметрами цвета. Для выбора нужного значения 'перетаскивайте' мышью бегунок соответсвующего слайдера или 'кликните' мышью в нужном месте на его шкале. Отображаемые в окошках значения соответствуют формату rgba(R,G,B,O)"></div>
		<div class="screens">
		  <div class="currentScreenBG"> 
			<div class="currentColorScreen" tooltip="Основной экран - 2-слойный: нижний слой представляет собой один из 4 предлагаемых фоновых риcунков, верхний - монохромный с параметрами цвета, которые устанавливаются при помощи слайдеров слева. Запомнить текущее состояние, записав цвет на дополнительный экран, можно нажатием кнопки в верхней части."><button class="button">Запомнить этот цвет</button></div>
		  </div>
	      <div class="lastColorScreen" tooltip="Дополнительный экран позволяет сравнить выбранный цвет с цветом, отображаемым на большом экране. Выбор цвета дополнительного экрана осуществляется нажатием соответствующего цвета на панели справа. Сохранить текущий цвет большого экрана на дополнительном можно нажатием кнопки сверху."></div>
	    </div>
	  </div>
	 <div class="standartColors" tooltip="Панель стандартных цветов позволяет быстро установить выбранный цвет с указанием его параметров в формате rgb(R,G,B) на дополнительный экран. Для этого достаточно 'кликнуть' мышью на выбранном цвете"></div>
	  <div class="backgroundsPanel" tooltip="Набор стандартных фоновых изображений для оценки отображения основного цвета при значениях прозрачности менее 1. Для установки любого изображения достаточно 'кликнуть' мышью на выбранном элементе">
	    <h2></h2>
		<img src="images/black.png" class="bgImage" data-image="url(images/black.png)"  alt="Варианты фонового рисунка">
		<img src="images/white.png" class="bgImage" data-image="url(images/white.png)"  alt="Варианты фонового рисунка">		
		<img src="images/BaW.png"   class="bgImage" data-image="url(images/BaW.png)"    alt="Варианты фонового рисунка">
		<img src="images/color.png" class="bgImage" data-image="url(images/color.png)"  alt="Варианты фонового рисунка">	
	  </div>
	</div> 
	<div class="footer">
		<a href="https://github.com/OlegPomazkov/colorBox/">Исходный код можно посмотреть здесь</a>
		Copyright 2016, Oleg Pomazkov  <img src="images/email.png"> povcode@gmail.com  <img src="images/skype.png"> OlegVPomazkov
	</div>
  </div> 
  
  <script type="text/template" id="slider-template">
	<div class="slider" data-name="<%-name%>">
	   <div class="sliderName"><%-name%></div>
	   <div class="currentValue"><%-initValue%></div>
	   <div class="bar">
		  <div class="marker"></div>
	   </div>
	</div>
  </script>
  
  <script type="text/template" id="table-template">
	<table>
		<tbody>
			<% for(var i = 0; i < 3; i++) {
				for(var j = 0; j < 3; j++){ %>
					<tr> <% for (var k = 0; k < 3; k++){
						var redColor = (i ===0 ) ? 0: i * 128 - 1;
						var greenColor = (j ===0 ) ? 0: j * 128 - 1;						
						var blueColor = (k ===0 ) ? 0: k * 128 - 1;						
						var currentColor = "rgb(" + redColor +"," + greenColor +"," + blueColor +")"; %>
						<td data-color = " <%=currentColor%>"></td>
						<% }; %>
					</tr>
				<% };
			}; %>
		</tbody>
	</table>
  </script> 
 
 <script>
	'use strict';	
    new PageController();	
  </script>
  
</body>

</html>